section {
    width: 100%;
}

.section-header {
    display: flex;
}

.header-header__content {
    width: 75%;
}

.text-header {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #777777;
    margin: 30px 60px;
}

.header-content__input {
    width: min(635px, 50%);
    margin: 0 0 30px 60px !important;
}

.header-add {
    position: absolute !important;
    top: 60px;
    right: 40px;
;
}