.breadcrumbs__wrapper {
  padding: 30px 60px 30px !important;
  display: flex;
}

.breadcrumbs__item {
  display: flex;
}

.breadcrumbs__text {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #484c51;
}

.breadcrumbs__text:hover {
  color: #597E9D;
}

.breadcrumbs__active {
  pointer-events: none;
  color: #597E9D;
  border-bottom: 1px solid #597E9D;
}

.breadcrumbs__pointer {
  margin: 0 12px;
  transform: scale(2.2, 1.75) translate(0px, -1px);
  cursor: default;
}

/* .page-header__wrapper {
  padding-top: 0px;
} */