.modal {
  position: absolute;
  top: 62px;
  left: 260px;
  width: calc(100vw - 260px);
  min-height: 160px;
  padding: 60px 60px 30px;
  background-color: #fff;
  outline: 1px solid black;
  z-index: 100;
}

.modal__content {
  display: flex;
  flex-direction: column;
  /* width: min(650px, 70%); */
}

.modal__header {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
}

.modal__close {
  position: absolute !important;
  right: 60px;
  top: 60px;
}
