.page-header__wrapper {
  position: relative;
  padding: 60px 60px 30px;
}

.text-header {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #777777;
  margin-bottom: 30px;
}

.header-button__add {
  position: absolute;
  right: 60px;
  top: 60px;
}