.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background-color: #D9D9D9;
}

.nav-logo {
    margin: 30px;
}

.nav-links {
    width: 230px;
    list-style: none;
    margin: auto auto calc(100vh - 380px);
}

.nav-links__item {
    padding: 10px 0;
    border-bottom: 1px solid #B1B0B0;
}

.nav-links__item .active {
    text-decoration: underline;
}

.nav-link {
    text-decoration: none;
    color: #777777;
    font-size: 20px;
    transition: color .25s ease-in-out;
}

.nav-link:hover {
    color: #adadad;
}

.btn-exit {
    width: 120px;
    height: 48px;
}