.table {
  width: 100%;
}

.table__row {
  display: grid;
  grid-auto-flow: column;
  padding: 0 30px;
  min-height: 56px;
  transition: background-color ease-in-out .15s;
}

.table__head .table__row {
  font-weight: 700;
}

.table__body .table__row {
  cursor: pointer;
  font-weight: 400;
}

.table__body .table__row:nth-child(2n-1) {
  background-color: white;
}

.table__body .table__row:hover {
  background-color: #cce1f3a6 !important;
}

.table__cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__cell .update-text,
.table__cell .delete-text {
  font-size: 16px;
  line-height: 20px;
  margin-left: 7px;
}

.table__head .table__cell {
  font-weight: 700;
}

.table__cell div {
  display: flex;
  align-items: center;
}