/* Table */
.speciality-table {
    margin-bottom: 60px;
}

.speciality-table th,
.speciality-table td{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.speciality-table th {
    font-weight: 700;
}

tr {
    cursor: pointer;
    text-decoration: none;
}

tbody tr:hover {
    background-color: #d6d8db8a !important;
}

.edit-icon,
.delete-icon {
    opacity: .85;
    transition: all .15s ease-in-out !important;
}

.edit-icon:hover,
.delete-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}